.tabnav {
    float:left;
    border: 1px solid #ccc;
    background-color:white;
    width: 60px;
    height: 100%;
    display: inline-block;
    position:absolute;
    top:0;
  }
  /* Style the buttons that are used to open the tab content */
  .tabnav button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
  }
  .dateicon{
    position:absolute;
  }
  /* Change background color of buttons on hover */
  .tabnav button:hover {
    background-color:none;
  }

  /* Create an active/current "tab button" class */
  .tabnav button.active {
    background-color:none
  }
  /* Style the tab content */
  .tabcontent {
    position: fixed;
    left:50px;
    top:0;
    float: left;
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 40%;
    border-left: none;
    height: 100%;
    display: none;

  }
  .headingwithicon{
        display: inline-block;
  }

  .tabicon{
    color:#bfbfbf;
    float:right;
    padding-left:7px;
    font-size:200px;
    height:35px;
  }
  
  
  h3,h2{
      color:#006bb3;
      padding-left: 10px;
  }
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 50%; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#d9d9d9;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 1px solid grey;
    position:absolute;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-weight:500;
    margin-left: 8px;
    margin-right:8px;
  }
  .normal{
      color:grey;
      pointer-events: none;
      cursor: default;
  }
  .change{
    color:#ff1a8c;
    background-color: white;
    border:1px solid white;
    border-bottom:1px solid #d9d9d9;
  }

  .secondtab a{
      color:#ff1a8c;
  }

  /* When you mouse over the navigation links, change their color */
  .secondtab a:hover {
    background-color: #ff1a8c;
    color:white
  }
  #hidemob,#hidedata{
      display:none;
  }
  .sidenav a.change:hover,.sidenav a.change.active{
      background-color:#ff1a8c;
      color:white;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }