.card-title{
    background-color: #0059b3;
    height:30px;
    color:white;
}
h6{
    display: inline-block;
}
.pinkbtn{
    background-color: #ff1a8c;
    width:30%;
    height:30px;
    color:white;
    float:right;

}
.card{
    height: 20rem;
    width: 20rem;
}