.header{
    color:#ff1a8c;
    font-size:14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.elipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body{
    background-color: #d9d9d9;
}
.title{
    margin:6px 2px 4px 6px;
}
.titlesecond{
 margin:0px 10px 0 310px;
background-color:white;
margin-top:10px;
min-height:70px;
overflow: hidden;

}
.titlefirst{
margin:0px 10px 0 80px;
   background-color:white;
   margin-top:10px;
   min-height:70px;
   overflow: hidden;
   
   }
.headertext{
    color:gray;
}
 #list li{
    display: inline;
    padding-right:5px;
}
.helper{
    padding:15px;
}
span{
    padding-right:10px;
}
.pinkbtn{
    background-color: #ff1a8c;
    min-width:35%;
    overflow: hidden;
    color:white;
}
.icon{
    color:grey;
    padding:4px 0 4px 0;
}
.kn{
    color:#ff1a8c;
    font-size:20px;
    font-weight: 600;
}
body{
    color:grey;
}
#wrapper{
    display: flex;
    align-items: center;
}
.form-group{
    width:100%;
}
.footer {
    position:fixed;
    min-height: 50px;
    overflow: hidden;
    bottom: 4px;
    left: 0px;
    right: 0px;
    margin-bottom: 2px;
}